NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgres://finance:finance@localhost:5432/finance_ai
JWT_ACCESS_SECRET=change-this-access-secret
JWT_REFRESH_SECRET=change-this-refresh-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_DAYS=3
UPLOAD_DIR=uploads
MAX_UPLOAD_MB=50
OCR_PROVIDER=tesseract
AI_PROVIDER=heuristic
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
VITE_API_URL=http://localhost:4000/api
GOOGLE_CLIENT_ID=
APPLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=
VITE_APPLE_CLIENT_ID=
VITE_APPLE_REDIRECT_URI=http://localhost:5173
VAPID_PUBLIC_KEY=BCcKNXmo6KzqeG1ou8kYR0ElO8LIMb1KL9ccT0_Ppl0vJZS9AOyot4ZoEz8oj3AUNXxA7X6bhBqpzffm7DBbbkE
VAPID_PRIVATE_KEY=jbkvA9lwtGrtnSPe289cGTqjILDh7V0fVpbuZ1fqEVk
VAPID_SUBJECT=mailto:reyhanmahardhika24@gmail.com
